section {
  .header-bar {
    height: 150px;
    width: 100%;
    position: relative;
    z-index: -1;
  }
  header {
    z-index: 1;
    height: 100px;
    width: 100%;
    padding: 10px 40px;
    box-shadow: 0 -20px 42px $blue-gray;
    position: fixed;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    img {
      filter: invert(22%) sepia(97%) saturate(2910%) hue-rotate(205deg) brightness(90%) contrast(97%);
    }
    .logo {

      img {
        padding-top:10px;
        max-height: 50px;
        opacity: .7;
        cursor: pointer;
        &:hover {
          opacity: 1
        }
      }
    }
    .menu-box {
      display: flex;
      width: auto;
      justify-content: flex-end;
      .navbar-menu {
        animation-name: slideIn;
        animation-duration: 1s;
        box-shadow: none;
      }
      @media screen and (max-width: $tablet) {
        .navbar-menu {
          width: 80%;
          position: absolute;
          a {
            margin: auto 10px;
          }
          .navbar-end {
            display: flex;
            background: none;
            justify-content: flex-end;
          }
        }
        img {
          margin: auto;
          max-width: 44px;
        }
      }
      a {
        font-size: 1.5rem;
        padding: 15px;
        border: none;
        @media screen and (max-width: $tablet) {
          padding: 0px;
        }
        img {
          width: 66px;
          height: 60px;
          padding: .7rem;
          @media screen and (min-width: $tablet) {
            padding: 1.3rem;
          }

          &:hover, &:active {
            padding: 10px;
          }
        }
      }
    }
  }
}
