.infocard {
  min-height: 200px;
  max-width: 800px;
  margin: 0 auto;
  height: 400px;
  padding: 0;
  font-size: 2rem;
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (max-width: $tablet) {
    margin-top: -70px;
  }
  img {
    max-width: 300px;
    width: 100%;
    filter: invert(22%) sepia(97%) saturate(2910%) hue-rotate(205deg) brightness(90%) contrast(97%) grayscale(10%);
  }

  .info {
    @media screen and (min-width: $tablet) {
      max-width: 65%;
    }
    padding: 3rem;
    .picture {
      img {
        opacity: .3;
        width: 300px;
      }
      @media screen and (max-width: $tablet) {
        display: none !important;
      }
    }
    h1 {
      @extend .is-size-1;
      @media screen and (max-width: $tablet) {
        font-size: 2.5rem !important;
      }
    }
    h2 {
      @extend .is-size-4;
    }
    button {
      @extend .button, .is-large;
      margin-top: 1rem;
      margin-right: 10px;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: bold;
      border: none;

      &.stack {
        @extend .has-background-danger;
        color: $light-theme !important;
      }
    }
  }
}
