.light {
  background: $light-theme;
  color: $dark-theme;

  header {
    background: $light-theme;
    .navbar-menu {
      background: $light-theme;
    }
  }
  .footer {
    background: $blue-gradiant-dark !important;

    .place-holder {
      background: $light-theme;
    }
  }
  .infocard {
    color: $blue-gray;

    button {
      background: $dark-theme !important;
      color: $light-theme !important;
    }
  }
}
