.pad-1 {
  padding: 0.9rem;
}
.pad-2 {
  padding: 1.5rem;
}
.pad-3 {
  padding: 2rem;
}
.pad-4 {
  padding: 2.5rem;
}
.pad-5 {
  padding: 3rem;
}
.pad-6 {
  padding: 4rem;
}

.radius-1 {
  border-radius: 0.9rem !important;
}
.radius-2 {
  border-radius: 1.5rem !important;
}
.radius-3 {
  border-radius: 2rem !important;
}
.radius-4 {
  border-radius: 2.5rem !important;
}
.radius-5 {
  border-radius: 3rem !important;
}
.radius-6 {
  border-radius: 4rem !important;
}
@keyframes slideIn{
    0%{
        transform:translateX(-100%);
        opacity: 0;
    }
}
