<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <InfoCard msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import InfoCard from '@module/InfoCard/InfoCard'

export default {
  name: 'Home',
  components: {
    InfoCard
  }
}
</script>
